<div>
  <mat-toolbar color="primary">
    <div>
      The Awesome User App
    </div>
    <div
      fxFlex
      fxLayout
      fxLayoutAlign="flex-end">
      <ul
        class="navigation-items"
        fxLayout
        fxLayoutGap="10px">
        <li>
          <a>
            <mat-icon class="icon">
              input
            </mat-icon>
            <span class="label">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
